
<div id='<%= dom_id(comment, :errors_for) %>'>
</div>

<div id='<%= dom_id(comment) %>' class='comment'>
  <input type="checkbox" class='hide-branch' id='<%= dom_id(comment, :hide_replys_for) %>'>
  <label for='<%= dom_id(comment, :hide_replys_for) %>' class='clicable hide-replys'>
    <span class='glyphicon glyphicon-minus'></span>
    <span class='glyphicon glyphicon-plus'></span>
  </label>

  <div id='<%= dom_id( comment.rating ) %>' class='comment-rating'>
    <%= render 'shared/rating', rating: comment.rating %>
  </div>

  <div id='<%= dom_id(comment, :body )%>' class='comment-body'>
    <p> <%= comment.body %> </p>

    <p> <%= render comment.images %> </p>

    <div class='comment-links'>
      <span>
        <%= link_to comment.author.username, user_path(comment.author) %> commented <%= time_ago_in_words comment.created_at %> ago
      </span>

      <% if comment.accessible_for?( current_user )  %>
        <%= link_to 'delete', comment_path(comment), method: :delete, remote: true %>
        <%= link_to 'edit', edit_comment_path(comment), remote: true %>
      <% end %>
    </div>

    <div class='reply-links'>
      <div class="reply-link">
        <%= link_to 'Reply',  '#', id: dom_id(comment, :reply_link_for), data: {comment_id: comment.id} unless current_user.anonimous? %>
      </div>

      <div class="cancel-link">
        <%= link_to 'Cancel', '#', id: dom_id(comment, :cancel_link_for), data: {comment_id: comment.id} unless current_user.anonimous? %>
      </div>
    </div>
  </div>

  <div id='<%= dom_id(comment, :reply_form_for) %>' class='reply'>
    <%= render 'comments/form', comment: Comment.new(commentable_id: comment.id, commentable_type: 'Comment') %>
  </div>

  <div id='<%= dom_id(comment, :comments_for) %>' class='replys'>
    <%= render comment.comments %>
  </div>
</div>
