<div id='<%= dom_id(comment, :creation_errors_for ) %>'>
</div>

<%= form_for comment, remote: true do |f| %>
  <%= f.label 'Comment:' %> <br>
  <%= f.text_area :body %> <br>
  <%= f.hidden_field :commentable_id, value: comment.commentable.id %>
  <%= f.hidden_field :commentable_type, value: comment.commentable.class %>
  <%= f.hidden_field :ancestry unless comment.ancestry.blank? %>
  <%= f.submit %>
<% end %>

<%= button_to 'Cancel', comment_path(comment), method: :get, remote: true unless comment.new_record? %>
