<div class='new-comment'>
	<div id='<%= dom_id(comment.commentable, :comment_errors_for) %>'>
	</div>

	<%= form_for comment,
    namespace: "#{comment.commentable.class.to_s.downcase}_#{comment.commentable.id}",
    html:      {class: 'form-with-image-upload'},
    remote:    true do |f| %>
	  <%= f.text_area :body, { class: 'form-control dropzone'} %>
	  <div class='form-group'>
      <div class="input-group file-input">
            <span class="input-group-addon clicable" id="basic-addon1">
              <span class="glyphicon glyphicon-open">
                <%= f.file_field :images, {id: 'image_input', multiple: true }%>
              </span>
            </span>
            <label class="form-control file-label label-primary clicable" aria-describedby="basic-addon1"> No file chosen </label>
          </div>
	  </div>

	  <%= render 'shared/images_form', imageable: comment %>

	  <%= f.hidden_field :commentable_id,   value: comment.commentable.id %>
	  <%= f.hidden_field :commentable_type, value: comment.commentable.class %>

	  <div class='attached-images'></div>

	  <%= f.submit 'Add comment', { class: "btn btn-primary btn-block" } %>
	<% end %>

	<%= button_to 'Cancel', comment_path(comment), method: :get, remote: true unless comment.new_record? %>
</div>
