<div id="<%= dom_id(@user) %>" class="container">
  <%= form_for @user, html: {class: 'form-with-image-upload'} do |f| %>
    <div class = 'row equal form-group'>
      <div class="col-md-6 form-group">
        <div class="user-input">
          <div class="form-group avatar">
            <%= image_tag @user.avatar.url(:medium), { class: "img-thumbnail avatar" } %>
          </div>

          <div class="input-group file-input">
            <span class="input-group-addon clickable" id="basic-addon1">
              <span class="glyphicon glyphicon-open">
                <%= f.file_field :avatar, {id: 'avatar-input-field'} %>
              </span>
            </span>
            <label class="form-control file-label label-primary clickable" aria-describedby="basic-addon1"> No file chosen </label>
          </div>
        </div>
      </div>

      <div class="col-md-6 form-group">
        <div class="user-input">
          <%= f.label 'Login:', { class: "control-label" } %>
          <%= f.text_field :username, { class: "form-control" } %>
        </div>
        <div class="user-input">
          <%= f.label 'Email:', { class: "control-label" } %>
          <%= f.email_field :email, { class: "form-control" } %>
        </div>
        <div class="user-input">
          <%= f.label 'Password:', { class: "control-label" } %>
          <%= f.password_field :password, { class: "form-control" } %>
        </div>
        <div class="user-input">
          <%= f.label 'confirm password:', { class: "control-label" } %>
          <%= f.password_field :password_confirmation, { class: "form-control" } %>
        </div>
      </div>
    </div>

    <%= f.submit button_text, { class: "btn btn-primary btn-lg btn-block" } %>
  <% end %>
</div>
