<div id="<%= dom_id(option, :errors_for) %>">
</div>

<%= form_for option, url: poll_option_path(option.poll, option), html: {method: :put}, remote: true do |f| %>
  <%= f.label 'Title:'%>
  <%= f.text_field :title %> <br>
  <%= f.label 'Description:'%>
  <%= f.text_field :description %> <br>
  <%= f.submit 'Create' %> 
<% end %>

<%= button_to 'Cancel', {action: :show}, method: :get, remote: true %>
