<div id ='new_option_errors'>
</div>

<div id = 'new_option_form'>
  <%= form_for poll.options.build, url: poll_options_path(poll), html: {method: :post}, remote: true do |f| %>
    <%= f.label 'Title:'%>
    <%= f.text_field :title %> <br>
    <%= f.label 'Description:'%>
    <%= f.text_field :description %> <br>
    <%= f.submit 'Add' %>
  <% end %>
</div>