<div id=<%= "option_#{option.id}" %>
  <div id=<%= "option_#{option.id}_errors" %>
  </div>

  <li>
    Title: <%= option.title %> <br>
    Description: <%= option.description %> <br>
    <%= link_to 'Edit', edit_poll_option_path(poll, option), remote: true %> 
    <%= link_to 'Delete', poll_option_path(poll, option), method: :delete, remote: true %>
  </li>
</div>