#edit-poll.poll_form.container
  = form_tag(poll_path(@poll), multipart: true, method: :put, class: 'form-with-image-upload') do

    = render 'status', poll: @poll

    = render 'poll_fields', poll: @poll

    #options-form.poll-form-element.row.form-group
      %h1#options-fields-header.text-center Options

      - @poll.options.each do |option|
        = render 'poll_option_fields', option: option

      = button_tag 'Add option', type: 'button', class: "btn btn-primary btn-block", id: 'add-option'

    .row.form-group
      = submit_tag 'Update poll', class: "btn btn-primary btn-block"