<%= form_for @poll, html: { :multipart => true }, remote: true do |f| %>
  <p> <%= f.label        'Title:'%> </p>
  <p> <%= f.text_field   :title %> </p>
  <p> <%= f.label        'Maximum voters(empty for infinity):'%>
      <%= f.number_field :max_voters, min: 1 %> </p>
  <p> <%= f.label        'Expiration date:' %>
      <%= f.date_select  :expire_at %> </p>
  <p> <%= f.file_field   :images, multiple: true %> </p>
  <p> <%= f.collection_check_boxes :images, @poll.images.ids.zip(@poll.images.map(&:url)).map{|x| [x[0], image_tag(x[1])]} , :first, :last %> </p>
  <p> <%= f.submit       'Ok' %>
<% end %>

<%= button_to 'Cancel', {action: :edit}, method: :get unless @poll.new_record? %>
