<%= form_for @poll, html: { :multipart => true }, remote: true do |f| %>
  <p> <%= f.label        'Title:'%> </p>
  <p> <%= f.text_field   :title %> </p>
  <p> <%= f.label        'Maximum voters(empty for infinity):'%>
      <%= f.number_field :max_voters, min: 1 %> </p>
  <p> <%= f.label        'Expiration date:' %>
      <%= f.date_select  :expire_at %> </p>
  <p> <%= f.file_field   :images, multiple: true %> </p>

  <p> <% @poll.images.each do |image| %>
        <div id='<%= dom_id(image) %>'>
          <p> <%= image_tag image.url(:medium) %> </p>
          <p> <%= link_to 'delete image', delete_image_poll_path(image_id: image.id), method: :delete, remote: true %> </p>
        </div>
      <% end %> </p>

  <p> <%= f.submit       'Ok' %>
<% end %>

<%= button_to 'Cancel', {action: :edit}, method: :get unless @poll.new_record? %>
