#new-poll.container
  = form_tag(polls_path, multipart: true, class: 'form-with-image-upload') do
    = fields_for 'poll', @poll do |poll_field|
      #poll-form.row.form-group
        .form-group.row
          .col-xs-1
            = poll_field.label :title, class: "control-label"
          .col-xs-11
            = poll_field.text_field :title, class: "form-control #{error_class?(@poll, :title)}"

        .form-group
          .col-xs-6
            .row
              %button#poll-voters-limit-btn.btn.btn-primary.btn-block{:type => "button"} Add voters limit
            #voters-limit-input.hide.poll-limit-input
              .input-group
                = poll_field.number_field :max_voters, {min: 1, class: "form-control" }
                %span#cancel-voters-limit-input.input-group-addon.clickable
                  %span.glyphicon.glyphicon-remove
          .col-xs-6
            .row
              %button#poll-expiration-date-btn.btn.btn-primary.btn-block{:type => "button"} Change expiration date
            #poll-expiration-date-input.input-group.date.hide.poll-limit-input
              = poll_field.text_field :expire_at, class: "form-control"
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar

        .dropzone.form-group.col-xs-12
          %p Drag'n'drop files here

        .attached-images.col-xs-12.padding-0

        .form-group.col-xs-12.padding-0
          .input-group.file-input
            %span#basic-addon1.input-group-addon.clickable
              %span.glyphicon.glyphicon-open
                = poll_field.file_field :images, id: 'image_input', multiple: true
            %label.form-control.file-label.label-primary.clickable{"aria-describedby" => "basic-addon1"} No file chosen

    #options-form.row.form-group
      %h1#options-fields-header.text-center Options

      - @poll.options.each do |option|
        = render 'poll_option_fields', option: option

      = button_tag 'Add option', type: 'button', class: "btn btn-primary btn-block", id: 'add-option'

    .row.form-group
      = submit_tag 'Create poll', class: "btn btn-primary btn-block"

:javascript
  const addOptionFieldsButton = document.querySelector('#add-option');

  addOptionFieldsButton.addEventListener('click', renderOptionFields);

  function renderOptionFields() {
    $('#add-option').before("#{escape_javascript render 'poll_option_fields', option: @poll.options.build}")
  }

  function removeOptionsFields(btn){
    btn.parentElement.parentElement.remove();

    const optionFields = document.querySelectorAll('.option-fields').length;

    if( optionFields < 3 ) renderOptionFields();
  }
