#new-poll.container
  = form_tag(polls_path, multipart: true, class: 'form-with-image-upload') do
    = render 'poll_fields', poll: @poll

    #options-form.row.form-group
      %h1#options-fields-header.text-center Options

      - @poll.options.each do |option|
        = render 'poll_option_fields', option: option

      = button_tag 'Add option', type: 'button', class: "btn btn-primary btn-block", id: 'add-option'

    .row.form-group
      = submit_tag 'Create poll', class: "btn btn-primary btn-block"

:javascript
  const addOptionFieldsButton = document.querySelector('#add-option');

  addOptionFieldsButton.addEventListener('click', renderOptionFields);

  function renderOptionFields() {
    $('#add-option').before("#{escape_javascript render 'poll_option_fields', option: @poll.options.build}")
  }

  function removeOptionsFields(btn){
    btn.parentElement.parentElement.parentElement.remove();

    const optionFieldsCount = document.querySelectorAll('.option-fields').length;

    if( optionFieldsCount < 3 ) renderOptionFields();
  }
