<div id = "<%= dom_id(poll) %>">

  <div id = "<%= dom_id(poll, :errors_for) %>">
    <% render 'errors', poll: poll %>
  </div>

  Status: <%= poll.status %>
  
  <div id = "<%= dom_id(poll, :title_for) %>">
    Title: <%= poll.title %>
  </div>

  <div id = "<%= dom_id(poll, :voters_limit_for) %>">
    Maximum voters: <%= poll.max_voters %>
  </div>

  <div id = "<%= dom_id(poll, :expiration_date_for) %>">
    Expiration date: <%= poll.expire_at.to_s %>
  </div>

  <%= link_to 'edit', edit_poll_path( poll ), remote: true if poll.accessible_for?(current_user) %>

  <div id='<%= dom_id(poll.rating) %>'>
    <%= render 'shared/rating', rating: poll.rating %>
  </div>
  
  <div id='<%= dom_id(poll, :image_for) %>'>
    <%= image_tag poll.image.url(:medium) %>
  </div>

  <ul>
    <div data-poll-id = "<%= poll.id %>" id = "options" class="sortable">
      <%= render poll.options %>
    </div>
  </ul>
</div>  
