<div class='container' id='new-poll'>
  <%= form_tag(polls_path, remote: true, multipart: true, class: 'form-with-image-upload') do %>
    <div class='row form-group'>
      <div class='col-xs-1'>
        <%= label_tag 'poll[title]', 'Title:', class: "control-label" %>
      </div>
      <div class='col-xs-11'>
        <%= text_field_tag 'poll[title]', nil, class: "form-control" %>
      </div>
    </div>

    <div class='row form-group'>
      <div class='col-xs-6'>
        <div class='row'>
          <button type="button" class="btn btn-primary btn-block" id='poll-voters-limit-btn'>Add voters limit</button>
        </div>

        <div class='row hide poll-limit-input' id='voters-limit-input'>
          <div class='input-group'>
           <%= number_field_tag "poll[max_voters]", "Infinity" , {min: 1, class: "form-control" } %>
           <span class="input-group-addon clicable" id='cancel-voters-limit-input'>
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </div>
        </div>
      </div>

      <div class='col-xs-6'>
        <div class='row'>
          <button type="button" class="btn btn-primary btn-block" id='poll-expiration-date-btn'>Change expiration date</button>
        </div>

        <div class='input-group date hide poll-limit-input' id='poll-expiration-date-input'>
          <%= text_field_tag  'poll[expire_at]', nil , { class: "form-control" } %>
          <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>

    <div class='row form-group'>
      <div class='dropzone'> <p> Drag'n'drop files here </p> </div>
    </div>

    <div class='attached-images'></div>

    <div class='row form-group'>
      <div class="input-group file-input">
        <span class="input-group-addon clicable" id="basic-addon1">
          <span class="glyphicon glyphicon-open">
            <%= file_field_tag "poll[images][]", id: 'image_input', multiple: true %>
          </span>
        </span>
        <label class="form-control file-label label-primary clicable" aria-describedby="basic-addon1"> No file chosen </label>
      </div>
    </div>

    <div class='row form-group'>
      <%= submit_tag 'Create poll', class: "btn btn-primary btn-block" %>
    </div>
  <% end %>
</div>
