<div id = "poll_block">

  <% if @poll.errors.any? %>
    <div>
      <%= pluralize(@poll.errors.count, 'error')%>  prohibited this poll from being saved 
      <ul>
      <% @poll.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id='title_block'>
    Title: <%= poll.title %>
  </div>

  <div id='status_block'>
    Status: <%= poll.status %>
  </div>

  <%= link_to 'edit', edit_poll_path( poll ), remote: true %>

  <ul>
    <%= render @poll.options, poll: @poll %>
  </ul>
</div>  