= fields_for fields_name_for(option), option do |field|
  .option-fields-group
    - if option.errors.full_messages.any?
      .option-errors.alert.alert-danger.text-center
        = option.errors.full_messages.join(' ')

    .option-fields
      .option-inputs
        = field.text_field :title, placeholder: 'option title', class: "form-control #{error_class?(option, :title)}"
        = field.text_area  :description, rows: 3, placeholder: 'option description', class: "form-control #{error_class?(option, :description)}"
      .option-delete-button
        %label.btn.btn.btn-danger.btn-block.delete-poll-option-btn
          = check_box_tag 'ids_of_options_for_destroy[]', option.id, false, id: dom_id(option, :delete_checkbox_for), class: 'hidden', onclick: 'removeOptionsFields(this)' unless option.new_record?
          %span.glyphicon.glyphicon-trash.delete-icon
