#poll_block

  #poll_errors_block
    = render 'errors', poll: poll
  
  #title_block
    Title:
    = poll.title

  #status_block
    = render 'polls/status', poll: poll

  = link_to 'edit', edit_poll_path( poll ), remote: true
  %ul
    #options_block
      = render poll.options
