<div id = "poll_block">

  <% if poll.errors.any? %>
    <div>
      <%= pluralize(poll.errors.count, 'error')%>  prohibited this poll from being saved 
      <ul>
      <% poll.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id='title_block'>
    Title: <%= poll.title %>
  </div>

  <div id='status_block'>
    <%= render 'polls/status', poll: poll %>
  </div>

  <%= link_to 'edit', edit_poll_path( poll ), remote: true %>
  <div id = "options_block">
    <ul>
      <%= render poll.options %>
    </ul>
  </div>
</div>  