= fields_for fields_name_for(option), option do |field|
  .option-fields-group
    - if option.errors.full_messages.any?
      .option-errors.alert.alert-danger.text-center
        = option.errors.full_messages.join(' ')

    .option-fields
      .option-inputs
        = field.text_field :title, placeholder: 'option title', class: "form-control #{error_class?(option, :title)}"
        = field.text_area  :description, rows: 3, placeholder: 'option description', class: "form-control #{error_class?(option, :description)}"
      .option-delete-button
        = button_tag 'X', type: 'button', onclick: 'removeOptionsFields(this)', class: "btn btn-danger btn-block"