-# .poll-form-element.row.form-group

-#   - if poll.able_to_ready?
-#     = button_tag 'Make ready', class: "btn btn-primary btn-block"

-#   - if poll.able_to_draft?
-#     = button_tag 'Make draft'

-#   #votation-progress-lost.alert.alert-danger.text-center
-#     %h4
-#       %span.glyphicon.glyphicon-exclamation-sign.pull-left
-#       All votation progress will be lost!

.poll-form-element.row.form-group
  %h3#status-header.text-center Status
  = check_box_tag 'status', status_availible_for(poll), false, id: 'status-check-box'
  = label_tag 'status-check-box', "Make #{status_availible_for(poll)}", id: 'change-status', class: 'btn btn-primary btn-block'
  = label_tag 'status-check-box', "Return to #{poll.status}", id: 'undo-change-status', class: 'btn btn-primary btn-block'

  #votation-progress-lost.alert.alert-danger.text-center
    %h4
      %span.glyphicon.glyphicon-exclamation-sign.pull-left
      All votation progress will be lost!