.poll-form-element.row.form-group
  %h3#status-header.text-center Status
  = check_box_tag 'status', status_available_for(poll), false, id: 'status-check-box'
  = label_tag 'status-check-box', "Make #{status_available_for(poll)}", id: 'change-status', class: 'btn btn-primary btn-block'
  = label_tag 'status-check-box', "Return to #{poll.status}", id: 'undo-change-status', class: 'btn btn-primary btn-block'

  #votation-progress-lost.alert.alert-danger.text-center
    %h4
      %span.glyphicon.glyphicon-exclamation-sign.pull-left
      All votation progress will be lost!