<h1> This is poll's edit page </h1>
<div id = "<%= dom_id(@poll, :status_for) %>">
    <%= render 'polls/status', poll: @poll %>
</div>
<%= render @poll %>
<%= render 'options/form', poll: @poll %> <br>
<%= link_to "delete poll", poll_path(@poll), method: :delete %>
<%= link_to 'back', :back %>
