<head>
  <% if @poll.errors.any? %>
    <div>
      <%= pluralize(@poll.errors.count, 'error')%>  prohibited this poll from being saved 
      <ul>
      <% @poll.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</head>

</body>
	<%= form_for @poll do |f| %>
		<%= f.label 'Title:'%>
		<%= f.text_field :title %> <br>
		<% @poll.options.each do |option| %>
			<%= f.fields_for option do |o| %>
				<%= o.label 'Option title' %>
				<%= o.text_field :title %> <br>
				<%= o.label 'Description' %>
				<%= o.text_field :description %> <br>
			<% end %>
		<% end %>
		<%= f.submit 'Create' %>
	<% end %>
<body>