<div class="poll">
	<%= render @poll %>

  <%= render 'choice', poll: @poll %>
</div>


<!-- <ul>
  <div id='<%= dom_id(@poll, :comments_for) %>'>
    <%= render @poll.comments %>
  </div>
</ul>

<div id="<%= dom_id( @poll.comments.build) %>">
  <%= render 'comments/form', comment: @poll.comments.build , remote: true unless current_user.anonimous? %>
</div>

<%= link_to 'back', :back %> -->
