<!DOCTYPE html>
<html>
  <head>
    <title>Vote</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= render 'shared/rollbar' if Rails.env.production? %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'shared/flash_messages' %>

    <%= yield %>
  </body>
</html>
